html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 4px;
  height: 100%;
}

.fullpage {
  height: 100%;
}

.hbox, .vbox {
  display: -webkit-flex;
  display: flex;
}
.vbox {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.item {
  flex: 1
}

#text-source {
  flex: 1
}

#tapestry-wrapper {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}